<div class="container-fluid container-login">
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Resend confirmation instructions</h4>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <%= bootstrap_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
                  <%= devise_error_messages! %>

                  <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>

                  <div class="actions">
                    <%= f.submit "Resend confirmation instructions" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'partials/full_page_css' %>
