<div class="container-fluid container-login">
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Change your password</h4>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                  <%= devise_error_messages! %>
                  <%= f.hidden_field :reset_password_token %>

                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em><br />
                  <% end %>
                  <%= f.password_field :password, autofocus: true, autocomplete: "off" %>

                  <%= f.password_field :password_confirmation, autocomplete: "off" %>

                  <div class="actions">
                    <%= f.submit "Change my password" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'partials/full_page_css' %>
